@import "../../scss/colors.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 36px;

  i {
    font-size: 15px;
  }

  span {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 19.25px;
    letter-spacing: 2.5px;
  }

  h1 {
    color: var(--link-color);
  }

  button {
    font-weight: 700;
    font-size: 13px;
    line-height: 19.25px;
    color: var(--link-color);
    background: transparent;
    transition: $transition;

    &:hover {
      color: var(--hover-color);
    }
  }
}
