@import "../../scss/colors.scss";

.result {
  display: flex;
  gap: 37px;

  background: var(--content-color);
  box-shadow: 0px 16px 30px -10px $shadowColor;
  border-radius: 15px;
  padding: 48px;

  img {
    width: 117px;
    height: 117px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.propertys {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: var(--link-color);
  }

  p {
    color: var(--faded-color);
  }
}

.link {
  color: $blueColor;
  text-decoration: none;
}

.about {
  color: var;
  margin: 20px 0 32px;
}

.info {
  display: flex;
  gap: 100px;
  align-items: center;

  background: var(--background-color);
  border-radius: 15px;
  padding: 17px 32px;

  margin-bottom: 38px;

  h4 {
    color: var(--text-color);
  }
  h2 {
    color: va4(--bold-color);
  }
}

.socialLinks {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 17px;

  i {
    width: 15px;
  }

  a {
    text-decoration: none;
    width: 230px;
    overflow: hidden;

    p {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  a,
  p {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 15px;
    color: var(--text-color);
  }

  .disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    color: var(--text-color);

    p {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
