@import "./scss/colors.scss";

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  background: var(--background-color);
  color: var(--text-color);
}

.card {
  width: 730px;
}
