$transition: 0.16s;

$blueColor: #0079ff;
$slateGrayColor: #697c9a;
$queenBlueColor: #4b6a9b;
$gunMetalColor: #2b3442;
$ghostWhiteColor: #f6f8ff;
$whiteColor: #fefefe;
$darkGunMetalColor: #141d2f;
$yankeesBlueColor: #1e2a47;
$redColor: #f74646;
$shadowColor: #4660bb33;
